* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

.container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 208px;                            /*!!!!!!!!!!!!FIX THIS LATER*/
    background-image: url(images/ad.jpg);
    background-size: cover;
}

.inner-container {
    width: 84%;
    margin: 0 auto;
}