* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

h1, h4, p {
    margin: 0;
}

/* ==========
LAYOUT
============*/

.container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 20vh;                            /*!!!!!!!!!!!!FIX THIS LATER*/
    background: rgba(42, 34, 39, .5) url(images/ad.jpg);
    background-size: cover;
    background-blend-mode: color-burn;
}

.inner-container {
    width: 84%;
    height: 100%;
    margin: 0 auto;
}

.inner-container-header {
    display: flex;
    align-items: center;
    position: relative;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background: #121212;
    min-height: 80vh;
}

.inner-container-main {
    display: flex;
    justify-content: center;
}

.start-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2E2E2F;
}

.start-img {
    width: 70px;
}

.start-img > img {
    width: 100%;
}

.add-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-link {
    margin-right: 7px;
}

.add-link:hover + .add-p,
.add-link:focus + .add-p {
    color: plum;
}

/* ==========
FORM
============*/

.search-form {
    position: absolute;
    top: 100%;                         
    transform: translate(0, -50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    background: #2E2E2F;
    border-radius: 6px;
    font-size: .875rem;
}

.form-img-wrapper {
    width: 1rem;
    margin-left: 1em;
}

.form-img-wrapper > img {
    width: 100%;
}

.form-input,
.submit-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
}

.form-input {
    margin-left: .7em;

    width: 75%;
    background: inherit;
    color: #A5A5A5;
    border: none;
}

.form-input:focus,
.form-input:focus-visible {
    outline: none;
}

.submit-btn {
    background: #4B4B4B;
    border: none;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
    padding: .65em 2.43em;

    color: #FFFFFF;
}

.submit-btn:hover,
.submit-btn:focus {
    color: plum;
}


/* ==========
TYPOGRAPHY
============*/

.top-title {
    font-weight: 800;
    font-size: 2.625rem;
}

.top-link {
    color: inherit;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 700;
}

.top-link:hover,
.top-link:focus {
    color: plum;
}

.start-cta {
    font-weight: 700;
    font-size: 1.29rem;
    margin-top: .4em;
}

.p-empty {
    font-weight: 700;
    font-size: 1.125rem;
    color: #787878;
    text-align: center;
}

.add-p {
    margin: 0;
    font-weight: 700;
    font-size: .875rem;
    color: #FFFFFF;
}

/* ==========
FILM
============*/

.films {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1.25em;
}

/* == FILM Layout ==*/

.film {
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #2C2C2C;
}

.film:last-of-type {
    border-bottom: none;
}

.film-poster-wrapper {
    width: 25%;
    max-width: 99px;
    margin: 1.25em;
    margin-left: 0;
}

.film-descr {
    width: 80%;
}

.film-poster-wrapper > img {
    width: 100%;
}

.film-header,
.film-details {
    display: flex;
    align-items: center;
    gap: 5px;
}

.film-details {
    gap: 1em;
    margin: 1em 0;
}

.toggle-to-watchlist {
    display: flex;
    align-items: center;
}

/* == FILM Typography ==*/

.film-title {
    font-size: 1.125rem;
    font-weight: 500;
}

.rate,
.film-details {
    font-size: .75rem;
}

.toggle-to-watchlist > p {
    /* font-size: inherit;
    font-weight: inherit;
    color: inherit; */
    margin-left: .5em;
}

.film-plot {
    color: #A5A5A5;
    font-size: .875rem;
}

.toggle-btn {
    cursor: pointer;
}